/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}


/* casino background*/
body { 
  position: relative;
  min-width: 1000px;
  padding-bottom: 141px;
  background: #000 url('https://casino-ideer.businesscatalyst.com/images/grund_dark.jpg') top center no-repeat;
  background-size: auto; 
  overflow:hidden;
}

#page {
    z-index: 1;
    width: 812px;
    min-height: 778px;
    background-image: none;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    padding-right: 188px;
    padding-bottom: 835px;
    margin-left: auto;
    margin-right: auto;
}
    #ParallaxWrapper {
    z-index: 6;
    width: 2048px;
    min-height: 1068px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -1024px;
    }
    #ContainerParallax { position: relative; max-width: 100%; margin: 0 auto; padding: 0; overflow: hidden;  height: 1068px;  }
    .framed.scene { padding: 0; margin: 0px; width: 100%; height: 100%; opacity: 1; }
    #ContainerParallax .layer {
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative; display: block;
    left: 0px; top: 0px;
    }
    .layer1 { background: url('https://casino-ideer.businesscatalyst.com/assets/front_uden_dark.png') no-repeat; }
    .layer2 { background: url('https://casino-ideer.businesscatalyst.com/assets/back_dark.png') no-repeat; }
.layer3 { background: url('https://casino-ideer.businesscatalyst.com/assets/middle_dark.png');}
